.main-content {
    /* 110 = 85 (Kanbas nav width) + 25 (gap width as per requirements) */
    margin-left: 110px !important;
}

.breadcrumb-separator {
    --bs-breadcrumb-divider: ">" !important;
}

.breadcrumb-icon {
    font-size: 20px;
    color: red;
}