body {
    font-family: 'Lato', sans-serif;
}

ul.account-nav {
    list-style-type: none;
    display: inline-block;
    text-align: justify;
    width: 200px;
    padding-left: 0;
}

ul.account-nav li {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
}

ul.account-nav li>a {
    color: red;
    text-decoration: none;
}

.account-nav-selected {
    border-left: 2px solid black;
}

.account-nav-selected a {
    color: black !important;
    font-weight: bold;
}

.account-nav li a {
    margin-left: 10px;
}