body {
    font-family: 'Lato', sans-serif;
}

.link {
    color: red;
    text-decoration: none;
}

.module-title {
    font-weight: bold;
}

.module-subtitle {
    font-weight: bold;
}

.module-item {
    font-weight: bold;
    padding-left: 40px;
}

.module-link {
    padding-left: 20px;
}

.todo-item {
    color: red;
}

.list-group-item.module-border {
    border-left: 5px solid green;
}